.registro {
  border-radius: 10px 10px 10px 10px;
  padding: 20px 0;
}

label {
  padding-top: 5%;
}

.iniSesion {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: #dc0914;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  transition: all 0.3s ease-in-out;
}

.iniSesion:hover {
  background-color: #dc0914;
  color: white;
}

.registrar {
  background-color: #dc0914;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  transition: all 0.3s ease-in-out;
}

.registrar:hover {
  background-color:  rgba(0, 0, 0, 0.3);
  color: #dc0914;
}
